h3{
	color: darkorange;
}

.asif{
	
	text-align: center;
}
h1{
	font-size: 50px;
}

.asif1{
	
	text-align: center;
	color: skyblue;
}

.asif2{
	text-align: center;
	color: orange;
}
.dehan{
	width:1000 ;
	height: 700;
}

.asifasif{
	background-color: white;
	color: green;

}